body {
  margin: 0;
  padding: 0;
  background-color: #121212; 
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.konten-atas h1 {
  color: white;!importnan;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.konten-bawah {
  height: 50vh;
}

.glowing-button {
  /* Hilangin garis bawah & styling dasar */
  text-decoration: none;
  display: inline-block;
  padding: 18px 35px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  
  /* Warna Gradasi */
  background: linear-gradient(45deg, #6a11cb, #2575fc);
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(37, 117, 252, 0.3);
  transition: all 0.4s ease;
  animation: munculPelan 1.5s ease-out;
}
.glowing-button:hover {
  transform: translateY(-5px) scale(1.05);
  box-shadow: 0 0 25px rgba(37, 117, 252, 0.7);
  filter: brightness(1.1);
}
@keyframes munculPelan {
  0% {
    opacity: 0;
    transform: translateY(100px); /* Muncul dari bawah banget */
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-card {
  text-align: center;
  margin-bottom: 50px;
  animation: munculPelan 2s ease-out;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #6a11cb;
  object-fit: cover;
  margin-bottom: 15px;
}

.name {
  color: white;
  font-size: 28px;
  margin: 0;
}

.bio {
  color: #888;
  font-size: 16px;
}





